#blogheader
	%span.blogtitle
		= @user.username+"\'s Blog"
		.blogheaderbutton
			%a{ role: "button", class: "btn btn-default", href: user_url(@user.id) }
				Profile
			= render partial: 'followbutton', locals: { user: @user }


- if notice
	.alert.alert-success= notice
%p
- @posts.each do |post|
	= render partial: 'posts/singlepost', locals: { post: post }